<section id="quienesSomos" class="section">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div
          class="section_heading text-center wow fadeInUp"
          data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
        >
          <h3>Our Creative <span> Team</span></h3>
          <p>Appland is completely creative, lightweight, clean &amp; super
            responsive app landing page.</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img
              class="rounded-lg"
              src="images/1.jpg"
              alt=""
            />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i
                  class="fa fa-facebook"
                ></i></a><a href="#"><i class="fa fa-twitter"></i></a><a
                href="#"
              ><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Samantha Sarah</h6>
            <p class="designation">Founder &amp; CEO</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.3s"
          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img
              class="rounded-lg"
              src="images/2.jpg"
              alt=""
            />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i
                  class="fa fa-facebook"
                ></i></a><a href="#"><i class="fa fa-twitter"></i></a><a
                href="#"
              ><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Nazrul Islam</h6>
            <p class="designation">UI Designer</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img
              class="rounded-lg"
              src="images/3.jpg"
              alt=""
            />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i
                  class="fa fa-facebook"
                ></i></a><a href="#"><i class="fa fa-twitter"></i></a><a
                href="#"
              ><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Riyadh Khan</h6>
            <p class="designation">Developer</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img
              class="rounded-lg"
              src="images/4.jpg"
              alt=""
            />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i
                  class="fa fa-facebook"
                ></i></a><a href="#"><i class="fa fa-twitter"></i></a><a
                href="#"
              ><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Niloy Islam</h6>
            <p class="designation">Marketing Manager</p>
          </div>
        </div>
      </div>
    </div>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, harum a itaque deserunt blanditiis voluptate totam ipsam, porro quod aliquid eos. Doloribus repellat, quae tenetur eius ab ducimus inventore excepturi!
   Reprehenderit ullam expedita modi exercitationem consectetur eos aspernatur nemo excepturi necessitatibus placeat voluptatem veritatis praesentium ipsam, perspiciatis corrupti eius nisi veniam alias deserunt a id? Fugiat consectetur delectus officiis atque.
   Suscipit reiciendis molestiae, voluptatum quaerat recusandae id nostrum sint consectetur odio et, error eum quia repellat dignissimos? Quo mollitia sit doloremque sed, in ab voluptatibus maiores sapiente distinctio cupiditate modi.</p>
 
  </div>
 

</section>