<section id="quienesSomos" class="section">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div
          class="section_heading text-center wow fadeInUp"
          data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
        >
          <h3>Nuestro equipo</h3>
          <p>
            Nuestra misión es ayudar a todos nuestros pacientes a recuperar su máximo potencial y calidad de vida a
            través de servicios de kinesiología personalizados y de alta calidad.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="rounded-lg" src="images/1.jpg" alt="" />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"
                ></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Riyadh Khan</h6>
            <p class="designation">Director ejecutivo</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.3s"
          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="rounded-lg" src="images/2.jpg" alt="" />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"
                ></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Nazrul Islam</h6>
            <p class="designation">Director</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="rounded-lg" src="images/3.jpg" alt="" />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"
                ></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Samantha Sarah</h6>
            <p class="designation">Kinesiologa de tren inferior</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div
          class="single_advisor_profile wow fadeInUp"
          data-wow-delay="0.5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
        >
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="rounded-lg" src="images/4.jpg" alt="" />
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"
                ></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Niloy Islam</h6>
            <p class="designation">Kinesiologo de tren superior</p>
          </div>
        </div>
      </div>
    </div>
    <h1>Quienes somos</h1>
    <p>Somos tu destino para la recuperación y el rendimiento. En [Nombre del Consultorio], ofrecemos servicios de
      kinesiología de alta calidad para atletas de todos los niveles y el público en general. ¿Estás buscando
      recuperarte de una lesión deportiva o mejorar tu rendimiento atlético? Nuestros expertos kinesiólogos están aquí
      para ayudarte a alcanzar tus metas. En DG kinesio, creemos que cada paciente es único, y diseñamos planes de
      tratamiento personalizados para satisfacer tus necesidades individuales. Nuestro equipo de kinesiólogos altamente
      calificados y experimentados está dedicado a proporcionarte una atención de alta calidad.</p>

  </div>

</section>