<section id="services" class="section">
  <div class="container services-area area-padding">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
          <h2>Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <!-- Start Left services -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="fas fa-briefcase"></i>
              </a>
              <h4>Rehabilitación Deportiva</h4>
              <p>
                Te ayudaremos a recuperarte de lesiones deportivas y a volver a tu actividad física de forma segura.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="fas fa-tasks"></i>
              </a>
              <h4>Preparación Atlética</h4>
              <p>
                Si buscas mejorar tu rendimiento, creamos programas personalizados para ayudarte a alcanzar tus
                objetivos
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="fas fa-chart-bar"></i>
              </a>
              <h4>Fisioterapia</h4>
              <p>
                Ofrecemos tratamientos para una amplia gama de problemas físicos, desde dolores crónicos hasta problemas
                de movilidad.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="fas fa-binoculars"></i>
              </a>
              <h4>Bienestar General</h4>
              <p>
                No es necesario ser un atleta de élite para beneficiarse de nuestros servicios; estamos aquí para
                mejorar tu bienestar en general.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <!-- End Left services -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="fas fa-cloud-sun"></i>
              </a>
              <h4>Terapias Específicas</h4>
              <p>
                Ofrecemos terapias especializadas, incluyendo masaje terapéutico y terapia de movilidad.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <!-- End Left services -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="fas fa-calendar-alt"></i>
              </a>
              <h4>Terapia de Recuperación Postoperatoria</h4>
              <p>
                Nuestro servicio está diseñado para ayudarte a recuperarte de manera más rápida y efectiva después de
                una cirugía.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
    </div>
  </div>
</section>