<!DOCTYPE html>
<html>
  <head>
    <title>GD - Kinesio</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    {{!-- Icons --}}
    <script src="https://kit.fontawesome.com/56fa784eb9.js" crossorigin="anonymous"></script>
    {{!-- google fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    {{!-- custom --}}
    <link rel="stylesheet" href='/css/style.css'>
    
  </head>
  <body >

    <header class="header">
    {{>navbar}}
    
    </header>
    
    {{{body}}}

    


    {{#if footer}}
    {{>footer2}}
    {{/if}}

  
    {{!-- {{>modalLogIn}} --}}

  {{!-- bootstrap --}}
  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  {{!-- custom --}}
  <script src="/js/index.js"></script>
  </body>
</html>
