<section class="section ">
    {{>messages}}
    <div id="signIn" class="row">
        <div class="col-lg-4 col-md-6 col-sm-8  mx-auto my-auto">
            <div class="card shadow rounded">
                <div class="card-header">
                    <h1>Log in</h1>
                </div>
                <div class="card-body">

                    <form action="/users/signin" method="POST">
                        <div class="form-group">
                            <label for="email">Direcci칩n de correo electr칩nico</label>
                            <input type="email" name="emailUsuario" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="correo@electronico.com.ar">
                        </div>
                        <div class="form-group">
                            <label for="password">Contrase침a</label>
                            <input type="password" class="form-control" name="passwordUsuario">
                            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu informaci칩n con
                                nadie</small>
                        </div>
                        {{!-- <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> --}}
                        <button type="submit" class="btn btn-primary">Ingresar <i class="fas fa-lock-open"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>
